ORION_HOST=0.0.0.0
ORION_PORT=5001

SPRINKLER_BASE_URL=http://192.168.7.232:5000
THERMOSTAT_BASE_URL=http://192.168.7.232:5002

MQTT_HOST=192.168.7.232
MQTT_PORT=1883

OLLAMA_BASE_URL=http://127.0.0.1:11434

ORION_ENABLE_GPU_METRICS=1
ORION_DEVICE_SAMPLE_SECONDS=2.5
ORION_WEATHER_SAMPLE_SECONDS=600