ORION_HOST=0.0.0.0
ORION_PORT=5001

SPRINKLER_BASE_URL=http://sprinkler-controller.local:5000
THERMOSTAT_BASE_URL=http://thermostat-controller.local:5002

MQTT_HOST=localhost
MQTT_PORT=1883

OLLAMA_BASE_URL=http://127.0.0.1:11434

ORION_ENABLE_GPU_METRICS=1
ORION_DEVICE_SAMPLE_SECONDS=2.5
ORION_WEATHER_SAMPLE_SECONDS=600